#root {
  font-family: var(--font-body);
}

button {
    font: inherit;
    height: 40px;
    border-radius: 10px;
    color: var(--color-text);
    border: 2px solid var(--color-primary);
    background-color: var( --color-secondary);
    transition: box-shadow ease-in-out 0.2s;
}