.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    min-height: 100vh;
    color: var(--color-primary);
}

.menu > .game-title {
    text-shadow: 0 0 8px var(--color-accent); /* text glow */ 
    font-size: 52px;
}

.menu > .instructions {
    color: var(--color-text);
    font-size: 20px;
}

.menu > .game-modes {
    display: flex;
    gap: 40px;
}

.menu > .game-modes > .mode-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.menu .mode-item > button {
    width: 140px;
}

.menu .mode-item > button.selected {
    animation: grows-shrink-btn 2s ease-in-out infinite alternate;
    color: var(--color-primary);
    box-shadow: 0 0 12px var(--color-accent);

}

.menu button:hover {
    box-shadow: 0 0 12px var(--color-accent);
}

@keyframes grows-shrink-btn {
  0% { transform: scale(1.2) }
  50% { transform: scale(1) }
  100% { transform: scale(1.2) }
}

.menu > .start-btn {
    width: 60px;
}