@font-face {
  font-family: "VT323";
  src:
    url("assets/fonts/VT323/VT323-Regular.woff2") format("woff2"),
    url("assets/fonts/VT323/VT323-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Macondo";
  src:
    url("assets/fonts/Macondo/Macondo-Regular.woff2") format("woff2"),
    url("assets/fonts/Macondo/Macondo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
    --font-display: "VT323", monospace;
    --font-body: "Macondo", cursive;
    --color-bg: #1a1a1a;
    --color-text: #e0e0e0;
    --color-primary: #e6b33e;
    --color-secondary: #333333;
    --color-accent: #f0c975;
    --color-success: #00ff7f;
    --color-fail: #ff4136;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: var(--color-bg);
}
